body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.standard-form {
  text-align: center;
  margin: auto;
  width: 30%;
}

.circular-image {
  width: 50px; /* Set your desired width */
  height: 50px; /* Set your desired height */
  border-radius: 50%; /* Makes the image circular */
  overflow: hidden; /* Ensures content outside the border is hidden */
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px; /* Add margin to adjust the positioning as needed */
}
